openapi: 3.1.0
info:
  title: Purpose Fintech API
  description: Complete API reference for the Purpose Fintech Payments platform.
  version: '1.0'
  x-release-date: '2026-04-27 10:49 PT'
  x-build: 'Build 20.22'
  x-build-summary: 'v20.21 — Restoration build. Rebased from the true v20.18 baseline (Exceptions entity with assigneeRole + notes endpoint, Batch entity, initiate* action naming, plural paths, PATCH-only mutations all intact). Re-applied the v20.19 error envelope sweep: all 342 non-2xx responses converted to status: FAILURE + errors[] array + traceId; ErrorItem schema added with ERR-### opaque code pattern and optional id/externalReferenceId for 409 conflicts; ErrorEnvelope schema rebuilt; legacy status: ERROR and singular error: blocks fully eliminated; Error Sample Pairing Rule enforced (ERR-### paired with <error message> placeholders, 341/341). Re-applied the v20.20 fee read consolidation: GET /enrollments/{enrollmentId}/fees/{feeId} retained on the unified Fee tag, GET /enrollments/{enrollmentId}/fees replaced with POST /enrollments/{enrollmentId}/fees/list (per project list-endpoint convention), source field distinguishes SUBSCRIBER vs PURPOSE pathways, both parties see each other''s fees. Subscriber/Purpose Fee tags retain their Create/Update/Cancel/Suspend/Reinstate pathways with no duplicate Get/List. Fixed two stragglers where initiate*Cancellation on subscriber/purpose fees were declared as PUT — corrected to POST per the initiate* convention. Exception object redesign remains parked for a later build.'
  contact:
    name: PFT Support
    email: support@purposefintech.com
servers:
  - url: https://api.purposefintech.com
    description: Production
  - url: https://sandbox.api.purposefintech.com
    description: Sandbox
security:
  - BearerAuth: []
tags:
  - name: Address
  - name: Advance
  - name: Bank Account
  - name: Batch
  - name: Consumer
  - name: Creditor
  - name: Debt
  - name: Document
  - name: Draft
  - name: Enrollment
  - name: Exceptions
  - name: Fee
  - name: Payment
  - name: Recoup
  - name: Refund
  - name: Settlement
  - name: Withdrawal
paths:
  /api/v1/consumers:
    post:
      summary: Create Consumer
      description: Creates a new consumer record. This is the first step of the enrollment onboarding process. Upon creation, an OFAC screening is initiated as a manual, offline process. Note that full CIP verification is deferred until the Enrollment Activation flow is initiated.
      tags:
        - Consumer
      operationId: post_create_a_consumer
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Returns the full consumer object. HTTP 201 Created.
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer created successfully
                data:
                  id: 71b2c3d4-e5f6-41d4-a716-446655440001
                  externalReferenceId: EXT_REF_0001
                  firstName: Jane
                  middleInitial: M
                  lastName: Doe
                  emailAddress: jane.doe@email.com
                  phoneNumber: '+14155551234'
                  ssnLast4: '6789'
                  dateOfBirth: '1985-03-15'
                  verificationStatuses:
                    cip: NOT_INITIATED
                    ofac: NOT_INITIATED
                    documentary: NOT_INITIATED
                  addresses: []
                  bankAccounts: []
                  documents: []
                  metaData:
                    acquisition_source: referral_partner_01
                    campaign_id: spring_2024
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
                    updated:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      externalReferenceId:
                        type: string
                        maxLength: 50
                      firstName:
                        type: string
                        maxLength: 50
                      middleInitial:
                        type: string
                      lastName:
                        type: string
                        maxLength: 50
                      emailAddress:
                        type: string
                        format: email
                      phoneNumber:
                        type: string
                      ssnLast4:
                        type: string
                        readOnly: true
                      dateOfBirth:
                        type: string
                        format: date
                      verificationStatuses:
                        type: object
                        readOnly: true
                        description: System-managed verification statuses for this consumer. All checks are asynchronous; CIP and OFAC are kicked off immediately on consumer creation, while Documentary verification is triggered when supporting documents are uploaded. Clients cannot set these fields directly.
                        properties:
                          cip:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - VERIFICATION_SUCCESS
                              - VERIFICATION_FAILURE
                          ofac:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - CLEARED
                              - FLAGGED
                          documentary:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - VERIFICATION_SUCCESS
                              - VERIFICATION_FAILURE
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            externalReferenceId:
                              type: string
                              maxLength: 50
                            type:
                              type: string
                            addressLine1:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                            state:
                              type: string
                            zipCode:
                              type: string
                      bankAccounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            externalReferenceId:
                              type: string
                              maxLength: 50
                            bankName:
                              type: string
                            achRoutingNumber:
                              type: string
                            accountNumberLast4:
                              type: string
                            accountType:
                              type: string
                              enum:
                                - CHECKING
                                - SAVINGS
                            accountHolderName:
                              type: string
                              maxLength: 50
                            statuses:
                              type: object
                              properties:
                                 accountStatus:
                                   type: string
                                   description: Vendor verification result for the bank account (routing + account number) as assessed by the verification provider.
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - VERIFICATION_SUCCESS
                                     - VERIFICATION_FAILED
                                     - UNVERIFIED
                                 ownershipStatus:
                                   type: string
                                   description: Vendor verification result for account ownership (account holder name vs. consumer identity on file).
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - VERIFICATION_SUCCESS
                                     - VERIFICATION_FAILED
                                     - UNVERIFIED
                                 processingStatus:
                                   type: string
                                   description: ACH draft processing eligibility, driven by ACH return outcomes.
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - ACTIVE
                                     - IN_ERROR
                                     - DEBIT_RESTRICTED
                      documents:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            entityType:
                              type: string
                            entityId:
                              type: string
                            documentType:
                              $ref: '#/components/schemas/DocumentType'
                            fileName:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                      metaData:
                        type: object
                        description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                        maxProperties: 50
                        additionalProperties:
                          type: string
                      auditInfo:
                        type: object
                        description: Created/updated timestamps and actor info
                        properties:
                          created:
                            type: object
                            properties:
                              at:
                                type: string
                                format: date-time
                              by:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                          updated:
                            type: object
                            properties:
                              at:
                                type: string
                                format: date-time
                              by:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 7b453fbf-70e6-48c6-9c10-ffd91e21a666
        '400':
          description: Bad Request — validation error.
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 04611f89-eb97-4497-9f83-6030cbcd7c20
        '409':
          description: Conflict — externalReferenceId, ssn, or emailAddress already exists.
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-83
                  message: "A consumer with same external reference id already exists"
                traceId: f99445b7-01c1-4766-9044-249f904d5163
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                externalReferenceId:
                  type: string
                  maxLength: 50
                  description: Third-party system identifier. Optional. Must be unique if provided.
                firstName:
                  type: string
                  maxLength: 50
                  description: Legal first name. Letters, hyphens, and apostrophes only.
                middleInitial:
                  type: string
                  description: Middle initial
                  maxLength: 1
                lastName:
                  type: string
                  maxLength: 50
                  description: Legal last name. Letters, hyphens, and apostrophes only.
                emailAddress:
                  type: string
                  format: email
                  description: RFC 5322 email. Case-insensitive, trimmed. Must be unique (max 255)
                  maxLength: 255
                phoneNumber:
                  type: string
                  description: Required. E.164 format phone number (e.g., +14155551234). Must be unique across all consumers (409 Conflict if duplicate).
                  pattern: ^\+[1-9]\d{1,14}$
                ssn:
                  type: string
                  description: Required. 9-digit numeric string. Must not contain hyphens or spaces. No 000, 666, or 9xx prefix. Must be unique across all consumers (409 Conflict if duplicate). (write-only)
                  pattern: ^\d{9}$
                  writeOnly: true
                dateOfBirth:
                  type: string
                  format: date
                  description: Date of birth in YYYY-MM-DD format. Consumer must be ≥ 18 years of age.
                metaData:
                  type: object
                  description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                  maxProperties: 50
                  additionalProperties:
                    type: string
              required:
                - firstName
                - lastName
                - emailAddress
                - phoneNumber
                - ssn
                - dateOfBirth
            example:
              externalReferenceId: EXT_REF_0001
              firstName: Jane
              middleInitial: M
              lastName: Doe
              emailAddress: jane.doe@email.com
              phoneNumber: '+14155551234'
              ssn: '123456789'
              dateOfBirth: '1985-03-15'
              metaData:
                acquisition_source: referral_partner_01
  /api/v1/consumers/{consumerId}:
    get:
      summary: Fetch Consumer
      description: Retrieves the full record for a specific consumer including all related resources (addresses, bankAccounts, documents) as full object arrays.
      tags:
        - Consumer
      operationId: get_fetch_a_consumer
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer fetched successfully
                data:
                  id: 71b2c3d4-e5f6-41d4-a716-446655440001
                  externalReferenceId: EXT_REF_0001
                  firstName: Jane
                  middleInitial: M
                  lastName: Doe
                  emailAddress: jane.doe@email.com
                  phoneNumber: '+14155551234'
                  ssnLast4: '6789'
                  dateOfBirth: '1985-03-15'
                  verificationStatuses:
                    cip: VERIFICATION_SUCCESS
                    ofac: CLEARED
                    documentary: VERIFICATION_SUCCESS
                  addresses:
                    - id: e4b2c3d4-e5f6-41d4-a716-446655440001
                      type: PERMANENT_ADDRESS
                      addressLine1: 123 Main Street
                      addressLine2: Apt 4B
                      city: San Francisco
                      state: CA
                      zipCode: '94105'
                  bankAccounts:
                    - id: 91b2c3d4-e5f6-41d4-a716-446655440001
                      bankName: JPMorgan Chase
                      achRoutingNumber: '021000021'
                      accountNumberLast4: '6789'
                      accountType: CHECKING
                      accountHolderName: Jane Doe
                      statuses:
                        accountStatus: ACTIVE
                        ownershipStatus: VERIFIED
                        processingStatus: ACTIVE
                  documents:
                    - id: doc_a1b2c3d4-e5f6-41d4-a716-446655440030
                      documentType: GOVERNMENT_ISSUED_PHOTO_ID
                      fileName: drivers_license_front.pdf
                  metaData:
                    acquisition_source: referral_partner_01
                    campaign_id: spring_2024
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
                    updated:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      externalReferenceId:
                        type: string
                        maxLength: 50
                      firstName:
                        type: string
                        maxLength: 50
                      middleInitial:
                        type: string
                      lastName:
                        type: string
                        maxLength: 50
                      emailAddress:
                        type: string
                        format: email
                      phoneNumber:
                        type: string
                      ssnLast4:
                        type: string
                        readOnly: true
                      dateOfBirth:
                        type: string
                        format: date
                      verificationStatuses:
                        type: object
                        readOnly: true
                        description: System-managed verification statuses for this consumer. All checks are asynchronous; CIP and OFAC are kicked off immediately on consumer creation, while Documentary verification is triggered when supporting documents are uploaded. Clients cannot set these fields directly.
                        properties:
                          cip:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - VERIFICATION_SUCCESS
                              - VERIFICATION_FAILURE
                          ofac:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - CLEARED
                              - FLAGGED
                          documentary:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - VERIFICATION_SUCCESS
                              - VERIFICATION_FAILURE
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            externalReferenceId:
                              type: string
                              maxLength: 50
                            type:
                              type: string
                            addressLine1:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                            state:
                              type: string
                            zipCode:
                              type: string
                      bankAccounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            externalReferenceId:
                              type: string
                              maxLength: 50
                            bankName:
                              type: string
                            achRoutingNumber:
                              type: string
                            accountNumberLast4:
                              type: string
                            accountType:
                              type: string
                              enum:
                                - CHECKING
                                - SAVINGS
                            accountHolderName:
                              type: string
                              maxLength: 50
                            statuses:
                              type: object
                              properties:
                                 accountStatus:
                                   type: string
                                   description: Vendor verification result for the bank account (routing + account number) as assessed by the verification provider.
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - VERIFICATION_SUCCESS
                                     - VERIFICATION_FAILED
                                     - UNVERIFIED
                                 ownershipStatus:
                                   type: string
                                   description: Vendor verification result for account ownership (account holder name vs. consumer identity on file).
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - VERIFICATION_SUCCESS
                                     - VERIFICATION_FAILED
                                     - UNVERIFIED
                                 processingStatus:
                                   type: string
                                   description: ACH draft processing eligibility, driven by ACH return outcomes.
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - ACTIVE
                                     - IN_ERROR
                                     - DEBIT_RESTRICTED
                      documents:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            entityType:
                              type: string
                            entityId:
                              type: string
                            documentType:
                              $ref: '#/components/schemas/DocumentType'
                            fileName:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                      metaData:
                        type: object
                        description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                        maxProperties: 50
                        additionalProperties:
                          type: string
                      auditInfo:
                        type: object
                        description: Created/updated timestamps and actor info
                        properties:
                          created:
                            type: object
                            properties:
                              at:
                                type: string
                                format: date-time
                              by:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                          updated:
                            type: object
                            properties:
                              at:
                                type: string
                                format: date-time
                              by:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 2d113e6d-817f-4930-9da3-3f9b751a653f
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 883dd91d-5899-401d-92b8-54f95096947e
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
    patch:
      summary: Update Consumer
      description: 'Partially updates consumer fields. Updatable: firstName, middleInitial, lastName, emailAddress, phoneNumber, externalReferenceId, and metaData. Immutable: For security and compliance reasons, ssn and dateOfBirth cannot be changed after creation.'
      tags:
        - Consumer
      operationId: patch_update_a_consumer
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer updated successfully
                data:
                  id: 71b2c3d4-e5f6-41d4-a716-446655440001
                  firstName: Jane
                  middleInitial: M
                  lastName: Doe
                  emailAddress: jane.doe@email.com
                  phoneNumber: '+14155559999'
                  ssnLast4: '6789'
                  dateOfBirth: '1985-03-15'
                  verificationStatuses:
                    cip: VERIFICATION_SUCCESS
                    ofac: CLEARED
                    documentary: VERIFICATION_SUCCESS
                  addresses:
                    - id: addr_01b2c3d4-e5f6-41d4-a716-446655440010
                      type: RESIDENTIAL
                      addressLine1: 123 Main Street
                      city: San Francisco
                      state: CA
                      zipCode: '94105'
                  bankAccounts:
                    - id: ba_81b2c3d4-e5f6-41d4-a716-446655440020
                      bankName: Chase
                      accountNumberLast4: '6789'
                      accountType: CHECKING
                      accountHolderName: Jane Doe
                      statuses:
                        accountStatus: VERIFICATION_SUCCESS
                        ownershipStatus: VERIFICATION_SUCCESS
                  documents:
                    - id: doc_a1b2c3d4-e5f6-41d4-a716-446655440030
                      documentType: GOVERNMENT_ISSUED_PHOTO_ID
                      fileName: drivers_license_front.pdf
                  metaData:
                    acquisition_source: referral_partner_02
                    campaign_id: spring_2024
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
                    updated:
                      at: '2025-08-16T09:15:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      externalReferenceId:
                        type: string
                        maxLength: 50
                      firstName:
                        type: string
                        maxLength: 50
                      middleInitial:
                        type: string
                      lastName:
                        type: string
                        maxLength: 50
                      emailAddress:
                        type: string
                        format: email
                      phoneNumber:
                        type: string
                      ssnLast4:
                        type: string
                        readOnly: true
                      dateOfBirth:
                        type: string
                        format: date
                      verificationStatuses:
                        type: object
                        readOnly: true
                        description: System-managed verification statuses for this consumer. All checks are asynchronous; CIP and OFAC are kicked off immediately on consumer creation, while Documentary verification is triggered when supporting documents are uploaded. Clients cannot set these fields directly.
                        properties:
                          cip:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - VERIFICATION_SUCCESS
                              - VERIFICATION_FAILURE
                          ofac:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - CLEARED
                              - FLAGGED
                          documentary:
                            type: string
                            readOnly: true
                            enum:
                              - NOT_INITIATED
                              - VERIFICATION_IN_PROGRESS
                              - VERIFICATION_SUCCESS
                              - VERIFICATION_FAILURE
                      addresses:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            externalReferenceId:
                              type: string
                              maxLength: 50
                            type:
                              type: string
                            addressLine1:
                              type: string
                            addressLine2:
                              type: string
                            city:
                              type: string
                            state:
                              type: string
                            zipCode:
                              type: string
                      bankAccounts:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            externalReferenceId:
                              type: string
                              maxLength: 50
                            bankName:
                              type: string
                            achRoutingNumber:
                              type: string
                            accountNumberLast4:
                              type: string
                            accountType:
                              type: string
                              enum:
                                - CHECKING
                                - SAVINGS
                            accountHolderName:
                              type: string
                              maxLength: 50
                            statuses:
                              type: object
                              properties:
                                 accountStatus:
                                   type: string
                                   description: Vendor verification result for the bank account (routing + account number) as assessed by the verification provider.
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - VERIFICATION_SUCCESS
                                     - VERIFICATION_FAILED
                                     - UNVERIFIED
                                 ownershipStatus:
                                   type: string
                                   description: Vendor verification result for account ownership (account holder name vs. consumer identity on file).
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - VERIFICATION_SUCCESS
                                     - VERIFICATION_FAILED
                                     - UNVERIFIED
                                 processingStatus:
                                   type: string
                                   description: ACH draft processing eligibility, driven by ACH return outcomes.
                                   default: NOT_INITIATED
                                   enum:
                                     - NOT_INITIATED
                                     - ACTIVE
                                     - IN_ERROR
                                     - DEBIT_RESTRICTED
                      documents:
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              type: string
                            entityType:
                              type: string
                            entityId:
                              type: string
                            documentType:
                              $ref: '#/components/schemas/DocumentType'
                            fileName:
                              type: string
                            createdAt:
                              type: string
                              format: date-time
                            updatedAt:
                              type: string
                              format: date-time
                      metaData:
                        type: object
                        description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                        maxProperties: 50
                        additionalProperties:
                          type: string
                      auditInfo:
                        type: object
                        description: Created/updated timestamps and actor info
                        properties:
                          created:
                            type: object
                            properties:
                              at:
                                type: string
                                format: date-time
                              by:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
                          updated:
                            type: object
                            properties:
                              at:
                                type: string
                                format: date-time
                              by:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  name:
                                    type: string
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: e2d5d950-47f9-4263-9217-a8115fe9ba10
        '400':
          description: Bad Request — validation error
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: d6c3f7a7-c2e3-4604-90a9-fb1f2e858137
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: e7067f9c-a627-4cb0-9aa7-f31591cc8ab5
        '409':
          description: Conflict — externalReferenceId, ssn, or emailAddress already exists.
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-06
                  message: "A consumer with this email already exists."
                traceId: c6c6e555-c2d1-4ae6-93a7-e80a285b6f7f
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                firstName:
                  type: string
                  maxLength: 50
                  description: Legal first name. Letters, hyphens, and apostrophes only.
                middleInitial:
                  type: string
                  description: Middle initial. Single character.
                  maxLength: 1
                lastName:
                  type: string
                  maxLength: 50
                  description: Legal last name. Letters, hyphens, and apostrophes only.
                emailAddress:
                  type: string
                  description: RFC 5322 email. Case-insensitive, trimmed. Must be unique (max 255)
                  format: email
                  maxLength: 255
                externalReferenceId:
                  type: string
                  maxLength: 50
                  description: Third-party identifier. Send blank/null to clear. Must be unique.
                metaData:
                  type: object
                  description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                  additionalProperties:
                    type: string
                  maxProperties: 50
                phoneNumber:
                  type: string
                  description: E.164 format phone number (e.g., +14155551234) Must be unique across all consumers (409 Conflict if duplicate).
                  pattern: ^\+[1-9]\d{1,14}$
            example:
              phoneNumber: '+14155559999'
              metaData:
                acquisition_source: referral_partner_02
  /api/v1/consumers/list:
    post:
      summary: List Consumers
      description: Returns a paginated, filtered, and sorted list of consumer summaries. Uses the standard list request body with filters, pagination, and sorting.
      tags:
        - Consumer
      operationId: post_list_consumers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumers fetched successfully
                data:
                  - id: 71b2c3d4-e5f6-41d4-a716-446655440001
                    firstName: Jane
                    lastName: Doe
                    emailAddress: jane.doe@email.com
                    phoneNumber: '+14155551234'
                    createdAt: '2025-08-15T14:30:00Z'
                    updatedAt: '2025-08-15T14:30:00Z'
                    externalReferenceId: EXT_REF_0001
                    middleInitial: M
                    verificationStatuses:
                      cip: VERIFICATION_SUCCESS
                      ofac: CLEARED
                      documentary: VERIFICATION_SUCCESS
                  - id: 71b2c3d4-e5f6-41d4-a716-446655440002
                    firstName: John
                    lastName: Smith
                    emailAddress: john.smith@email.com
                    phoneNumber: '+12125559876'
                    createdAt: '2025-08-14T10:00:00Z'
                    updatedAt: '2025-08-14T10:00:00Z'
                    externalReferenceId: EXT_REF_0002
                    middleInitial: M
                    verificationStatuses:
                      cip: VERIFICATION_SUCCESS
                      ofac: CLEARED
                      documentary: VERIFICATION_SUCCESS
                pagination:
                  page: 1
                  pageSize: 25
                  hasNextPage: true
                  hasPreviousPage: false
                  totalPages: 4
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pageSize:
                        type: integer
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                      totalPages:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        externalReferenceId:
                          type: string
                          maxLength: 50
                        firstName:
                          type: string
                          maxLength: 50
                        middleInitial:
                          type: string
                        lastName:
                          type: string
                          maxLength: 50
                        emailAddress:
                          type: string
                          format: email
                        phoneNumber:
                          type: string
                        verificationStatuses:
                          type: object
                          readOnly: true
                          description: System-managed verification statuses for this consumer. All checks are asynchronous; CIP and OFAC are kicked off immediately on consumer creation, while Documentary verification is triggered when supporting documents are uploaded. Clients cannot set these fields directly.
                          properties:
                            cip:
                              type: string
                              readOnly: true
                              enum:
                                - NOT_INITIATED
                                - VERIFICATION_IN_PROGRESS
                                - VERIFICATION_SUCCESS
                                - VERIFICATION_FAILURE
                            ofac:
                              type: string
                              readOnly: true
                              enum:
                                - NOT_INITIATED
                                - VERIFICATION_IN_PROGRESS
                                - CLEARED
                                - FLAGGED
                            documentary:
                              type: string
                              readOnly: true
                              enum:
                                - NOT_INITIATED
                                - VERIFICATION_IN_PROGRESS
                                - VERIFICATION_SUCCESS
                                - VERIFICATION_FAILURE
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: b558760b-2078-468f-915e-a972bc813f06
        '400':
          description: Bad Request — validation error
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 64874246-1031-4088-9e21-aed3d1829650
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  description: List of filter criteria to apply to the search.
                  items:
                    type: object
                    required:
                      - field
                      - operator
                      - value
                    properties:
                      field:
                        type: string
                        description: The attribute name to filter by (supports dot-notation).
                      operator:
                        type: string
                        enum:
                          - eq
                          - neq
                          - gt
                          - gte
                          - lt
                          - lte
                          - in
                          - contains
                        description: The comparison operator.
                      value:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                        description: The value(s) to compare against.
                pagination:
                  type: object
                  description: Pagination options.
                  properties:
                    page:
                      type: integer
                      description: Page number (default 1).
                      default: 1
                    pageSize:
                      type: integer
                      description: Number of results per page (default 25, max 100).
                      default: 25
                      maximum: 100
                sorting:
                  type: object
                  description: Sorting options.
                  properties:
                    field:
                      type: string
                      description: The field to sort by (default 'createdAt').
                      default: createdAt
                    direction:
                      type: string
                      enum:
                        - asc
                        - desc
                      description: Sort direction (default 'desc').
                      default: desc
            example:
              filters:
                - field: status
                  operator: in
                  value:
                    - ACTIVE
                    - INACTIVE
              pagination:
                page: 1
                pageSize: 25
              sorting:
                field: createdAt
                direction: desc
  /api/v1/consumers/{consumerId}/documents:
    post:
      summary: Upload Consumer Document
      description: Upload a file to a consumer using multipart/form-data. Max 20 MB. The documentType must match the allowed types for the consumer context.
      tags:
        - Consumer
      operationId: post_upload_consumer_document
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Document uploaded successfully. Returns compact document metadata with audit envelope.
          content:
            application/json:
              example:
                status: SUCCESS
                message: Document uploaded successfully
                data:
                  documentId: doc-c0n5umer-doc-001
                  fileName: government_id.pdf
                  documentType: GOVERNMENT_ISSUED_PHOTO_ID
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
                    updated:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      documentId:
                        type: string
                        description: Unique document identifier (UUID)
                      fileName:
                        type: string
                        description: Original file name
                      documentType:
                        allOf:
                          - $ref: '#/components/schemas/DocumentType'
                        description: Document type classification
                      auditInfo:
                        $ref: '#/components/schemas/AuditInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 915f4d52-f496-476b-9e93-8150712a1fe7
        '400':
          description: Bad Request — validation error
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: c00bef23-933f-498a-9ee8-315bfaf4a752
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 26dd879a-e3ce-45e3-98dd-621b920f82fc
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Raw binary file content (max 20 MB)
                fileName:
                  type: string
                  description: File name with extension (max 100)
                documentType:
                  allOf:
                    - $ref: '#/components/schemas/DocumentType'
                  description: 'Suggested: ENROLLMENT_AGREEMENT | ENROLLMENT_AGREEMENT | LIMITED_POWER_OF_ATTORNEY | DEBIT_AUTHORIZATION | GOVERNMENT_ISSUED_PHOTO_ID | GOVERNMENT_ISSUED_PHOTO_ID | SOCIAL_SECURITY_CARD | PROOF_OF_ADDRESS | INCOME_VERIFICATION | HARDSHIP_LETTER | CONSUMER_CORRESPONDENCE | FORM_1099_C | OTHER. See Document API for full enum.'
                metaData:
                  type: object
                  description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                  maxProperties: 50
                  additionalProperties:
                    type: string
              required:
                - file
                - fileName
                - documentType
            example:
              documentType: IDENTITY_PROOF
              file: '@/path/to/file.pdf  # (binary multipart upload — use curl -F file=@./file.pdf)'
              metaData:
                source: consumer_upload
      x-suggested-document-types:
        - GOVERNMENT_ISSUED_PHOTO_ID
        - SOCIAL_SECURITY_CARD
        - PROOF_OF_ADDRESS
        - INCOME_VERIFICATION
        - HARDSHIP_LETTER
        - CONSUMER_CORRESPONDENCE
        - OTHER
  /api/v1/consumers/{consumerId}/documents/list:
    post:
      summary: List Consumer Documents
      description: Returns paginated, filtered document summaries across the consumer and all nested entities (addresses, bankAccounts, debts, drafts).
      tags:
        - Consumer
      operationId: post_list_consumer_documents
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumers fetched successfully
                data:
                  - id: 81b2c3d4-e5f6-41d4-a716-446655440001
                    fileName: enrollment_agreement.pdf
                    documentType: ENROLLMENT_AGREEMENT
                    fileSize: 245890
                    mimeType: application/pdf
                    entityType: CONSUMER
                    entityId: 71b2c3d4-e5f6-41d4-a716-446655440001
                    auditInfo:
                      created:
                        at: '2025-08-15T14:30:00Z'
                        by:
                          id: '...'
                          name: AdminUser
                      updated:
                        at: '2025-08-15T14:30:00Z'
                        by:
                          id: '...'
                          name: AdminUser
                pagination:
                  page: 1
                  pageSize: 25
                  hasNextPage: false
                  hasPreviousPage: false
                  totalPages: 1
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pageSize:
                        type: integer
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                      totalPages:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        entityType:
                          type: string
                        entityId:
                          type: string
                        documentType:
                          $ref: '#/components/schemas/DocumentType'
                        fileName:
                          type: string
                        mimeType:
                          type: string
                        fileSizeBytes:
                          type: integer
                        metaData:
                        type: object
                        description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: e6fe4c12-f612-44b2-987d-cd181774ba20
        '400':
          description: Bad Request — validation error
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: cb2940cf-b0f5-42a8-9984-31380e8a808e
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: b4685b4d-2ce9-431a-9636-92cce43751c0
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    required:
                      - field
                      - operator
                      - value
                    properties:
                      field:
                        type: string
                        description: The attribute name to filter by (supports dot-notation).
                      operator:
                        type: string
                        enum:
                          - eq
                          - neq
                          - gt
                          - gte
                          - lt
                          - lte
                          - in
                          - contains
                        description: The comparison operator.
                      value:
                        oneOf:
                          - type: string
                          - type: array
                            items:
                              type: string
                        description: The value(s) to compare against.
                description: List of filter criteria to apply to the search.
                pagination:
                  type: object
                  description: Pagination options.
                  properties:
                    page:
                      type: integer
                      description: Page number (default 1).
                      default: 1
                    pageSize:
                      type: integer
                      description: Number of results per page (default 25, max 100).
                      default: 25
                      maximum: 100
                sorting:
                  type: object
                  description: Sorting options.
                  properties:
                    field:
                      type: string
                      description: The field to sort by (default 'createdAt').
                      default: createdAt
                    direction:
                      type: string
                      enum:
                        - asc
                        - desc
                      description: Sort direction (default 'desc').
                      default: desc
            example:
              filters:
                - field: documentType
                  operator: eq
                  value: ENROLLMENT_AGREEMENT
              pagination:
                page: 1
                pageSize: 25
  /api/v1/consumers/{consumerId}/addresses:
    post:
      summary: Add Consumer Address
      description: Add an address to a consumer. The type field is required (PERMANENT_ADDRESS or MAILING_ADDRESS).
      tags:
        - Address - Consumer
      operationId: post_add_consumer_address
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer Address created successfully
                data:
                  id: e4b2c3d4-e5f6-41d4-a716-446655440001
                  externalReferenceId: EXT-ADDR-001
                  type: PERMANENT_ADDRESS
                  addressLine1: 123 Main Street
                  addressLine2: Apt 4B
                  city: San Francisco
                  state: CA
                  zipCode: '94105'
                  metaData: {}
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
                    updated:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier
                      consumerId:
                        type: string
                        description: Parent consumer ID
                      type:
                        type: string
                        enum:
                          - PERMANENT_ADDRESS
                          - MAILING_ADDRESS
                        description: Address type
                      addressLine1:
                        type: string
                        description: Street address line 1 (max 100 chars)
                      addressLine2:
                        type: string
                        description: Street address line 2 (max 100 chars)
                      city:
                        type: string
                        description: City name
                      state:
                        type: string
                        description: 2-letter US state code
                      zipCode:
                        type: string
                        description: 5 or 9 digit ZIP code
                      country:
                        type: string
                        description: Country code (default US)
                      externalReferenceId:
                        type: string
                        maxLength: 50
                        description: External reference identifier
                      status:
                        type: string
                        readOnly: true
                        enum:
                          - ACTIVE
                          - INACTIVE
                      metaData:
                        type: object
                        description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                        maxProperties: 50
                        additionalProperties:
                          type: string
                      auditInfo:
                        type: object
                        description: Created/updated timestamps and actor info
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 061e4b86-21b7-47b4-9c42-2b7ec325c479
        '400':
          description: Bad Request — validation error
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 69217375-f5b2-49bf-92b4-72c7bf2c3f00
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 0d1a817f-673b-41c5-99b9-befd43fbae62
        '409':
          description: Conflict — externalReferenceId or emailAddress already exists
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-17
                  message: "Only one address of each type allowed per consumer."
                traceId: 1f56ccde-ea95-4187-9876-60e559626fd3
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                externalReferenceId:
                  type: string
                  maxLength: 50
                  description: Third-party identifier
                type:
                  type: string
                  description: PERMANENT_ADDRESS or MAILING_ADDRESS
                addressLine1:
                  type: string
                  description: 'Street address (max 100). Alphanumeric + . , # / -'
                addressLine2:
                  type: string
                  description: Additional info (max 100). Same character rules.
                city:
                  type: string
                  description: City name (max 50)
                state:
                  type: string
                  description: 2-letter U.S. state code
                zip:
                  type: string
                  description: 5 or 9 digits, no 000 prefix
                metaData:
                  type: object
                  description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                  maxProperties: 50
                  additionalProperties:
                    type: string
              required:
                - type
                - addressLine1
                - city
                - state
                - zip
            example:
              type: PERMANENT_ADDRESS
              addressLine1: 123 Main Street
              addressLine2: Apt 4B
              city: San Francisco
              state: CA
              zipCode: '94105'
              metaData:
                source: api
                campaign: onboarding_q3
    get:
      summary: List Consumer Addresses
      description: Fetch all addresses for a consumer. Returns a flat array sorted by most recently created first.
      tags:
        - Address - Consumer
      operationId: get_list_consumer_addresses
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer's addresses fetched successfully
                data:
                  - id: e4b2c3d4-e5f6-41d4-a716-446655440001
                    externalReferenceId: EXT-ADDR-001
                    type: PERMANENT_ADDRESS
                    city: San Francisco
                    state: CA
                    zipCode: '94105'
                    addressLine1: 123 Main Street
                    addressLine2: Apt 4B
                    auditInfo:
                      created:
                        at: '2025-08-15T14:30:00Z'
                        by:
                          id: 91b2c3d4-e5f6-41d4-a716-446655440002
                          name: AdminUser
                      updated:
                        at: '2025-08-15T14:30:00Z'
                        by:
                          id: 91b2c3d4-e5f6-41d4-a716-446655440002
                          name: AdminUser
                  - id: e4b2c3d4-e5f6-41d4-a716-446655440002
                    externalReferenceId: EXT-ADDR-002
                    type: MAILING_ADDRESS
                    city: San Francisco
                    state: CA
                    zipCode: '94102'
                    addressLine1: 456 Oak Avenue
                    auditInfo:
                      created:
                        at: '2025-08-15T14:30:00Z'
                        by:
                          id: 91b2c3d4-e5f6-41d4-a716-446655440002
                          name: AdminUser
                      updated:
                        at: '2025-08-15T14:30:00Z'
                        by:
                          id: 91b2c3d4-e5f6-41d4-a716-446655440002
                          name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        externalReferenceId:
                          type: string
                          maxLength: 50
                        type:
                          type: string
                          enum:
                            - PERMANENT_ADDRESS
                            - MAILING_ADDRESS
                        city:
                          type: string
                        state:
                          type: string
                        zip:
                          type: string
                        metaData:
                          type: object
                          description: Up to 50 custom key-value pairs for flexible categorization
                          maxProperties: 50
                          additionalProperties:
                            type: string
                        addressLine1:
                          type: string
                        addressLine2:
                          type: string
                        auditInfo:
                          type: object
                          description: Created and updated timestamps with actor information
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 2d803068-56a4-4deb-9fe6-a5856b150e91
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: d0a43b66-9191-409f-940d-8ad93f1242ad
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
  /api/v1/consumers/{consumerId}/addresses/{addressId}:
    get:
      summary: Fetch Consumer Address
      description: Fetch a specific consumer address by ID.
      tags:
        - Address - Consumer
      operationId: get_fetch_consumer_address
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer address fetched successfully
                data:
                  id: e4b2c3d4-e5f6-41d4-a716-446655440001
                  externalReferenceId: EXT-ADDR-001
                  type: PERMANENT_ADDRESS
                  addressLine1: 123 Main Street
                  addressLine2: Apt 4B
                  city: San Francisco
                  state: CA
                  zipCode: '94105'
                  metaData: {}
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
                    updated:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        description: Unique identifier
                      consumerId:
                        type: string
                        description: Parent consumer ID
                      type:
                        type: string
                        enum:
                          - PERMANENT_ADDRESS
                          - MAILING_ADDRESS
                        description: Address type
                      addressLine1:
                        type: string
                        description: Street address line 1 (max 100 chars)
                      addressLine2:
                        type: string
                        description: Street address line 2 (max 100 chars)
                      city:
                        type: string
                        description: City name
                      state:
                        type: string
                        description: 2-letter US state code
                      zipCode:
                        type: string
                        description: 5 or 9 digit ZIP code
                      country:
                        type: string
                        description: Country code (default US)
                      externalReferenceId:
                        type: string
                        maxLength: 50
                        description: External reference identifier
                      status:
                        type: string
                        readOnly: true
                        enum:
                          - ACTIVE
                          - INACTIVE
                      metaData:
                        type: object
                        description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                        maxProperties: 50
                        additionalProperties:
                          type: string
                      auditInfo:
                        type: object
                        description: Created/updated timestamps and actor info
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: a3f2858e-31c8-482a-952d-54d203c07ce8
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 0ab28072-4662-454c-9bc3-6888db09186e
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
        - name: addressId
          in: path
          required: true
          description: Address UUID
          schema:
            type: string
    patch:
      summary: Update Consumer Address
      description: 'Partially updates a consumer address. Only the externalReferenceId field can be modified. Send null to clear. Note: In our system, each update is processed as a full replacement (POST semantics) — the entire address object must be provided.'
      tags:
        - Address - Consumer
      operationId: patch_update_consumer_address
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer address updated successfully
                data:
                  id: e4b2c3d4-e5f6-41d4-a716-446655440001
                  externalReferenceId: EXT-ADDR-UPDATED-001
                  type: PERMANENT_ADDRESS
                  addressLine1: 123 Main Street
                  addressLine2: Apt 4B
                  city: San Francisco
                  state: CA
                  zipCode: '94105'
                  metaData: {}
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
                    updated:
                      at: '2025-08-16T10:00:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                      externalReferenceId:
                        type: string
                        maxLength: 50
                      type:
                        type: string
                      addressLine1:
                        type: string
                      addressLine2:
                        type: string
                      city:
                        type: string
                      state:
                        type: string
                      zip:
                        type: string
                      metaData:
                        type: object
                        maxProperties: 50
                        additionalProperties:
                          type: string
                      auditInfo:
                        type: object
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 5e9843ef-000e-4043-9f02-878d9df92400
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 3fa7dfc1-547b-4404-9311-64bb8aeac94a
        '409':
          description: Conflict — externalReferenceId already exists
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-17
                  message: "Only one address of each type allowed per consumer."
                traceId: 28e6b12a-3559-46cd-9f4c-99d9c32c2e76
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
        - name: addressId
          in: path
          required: true
          description: Address UUID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                externalReferenceId:
                  type:
                    - string
                    - 'null'
                  description: Third-party identifier. Send null to clear. Must be unique if provided.
            example:
              externalReferenceId: EXT-ADDR-UPDATED-001
  /api/v1/consumers/{consumerId}/addresses/{addressId}/documents:
    post:
      summary: Upload Address Document
      description: Upload a document associated with this address.
      tags:
        - Address - Consumer
      operationId: post_upload_address_document
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Document uploaded successfully. Returns compact document metadata with audit envelope.
          content:
            application/json:
              example:
                status: SUCCESS
                message: Document uploaded successfully
                data:
                  documentId: doc-a1b2c3d4-e5f6-41d4-a716-446655440030
                  fileName: proof_of_address.pdf
                  documentType: PROOF_OF_ADDRESS
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
                    updated:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: 91b2c3d4-e5f6-41d4-a716-446655440002
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
                    properties:
                      documentId:
                        type: string
                        description: Unique document identifier (UUID)
                      fileName:
                        type: string
                        description: Original file name
                      documentType:
                        allOf:
                          - $ref: '#/components/schemas/DocumentType'
                        description: Document type classification
                      auditInfo:
                        $ref: '#/components/schemas/AuditInfo'
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: b3ecb369-9b07-434b-9370-558dea6f5ded
        '400':
          description: Bad Request — validation error
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: b9e0212b-ebb5-44e6-99fb-17c924f3856f
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: e89b7e6e-b221-4df6-95a4-23969613d47f
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
        - name: addressId
          in: path
          required: true
          description: Address UUID
          schema:
            type: string
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                  description: Raw binary file content (max 20 MB)
                fileName:
                  type: string
                  description: Display name
                documentType:
                  allOf:
                    - $ref: '#/components/schemas/DocumentType'
                  description: 'Suggested: PROOF_OF_ADDRESS | GOVERNMENT_ISSUED_PHOTO_ID | PROOF_OF_MARRIAGE | OTHER. See Document API for full enum.'
                metaData:
                  type: object
                  description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                  maxProperties: 50
                  additionalProperties:
                    type: string
              required:
                - file
                - fileName
                - documentType
            example:
              documentType: IDENTITY_PROOF
              file: '@/path/to/file.pdf  # (binary multipart upload — use curl -F file=@./file.pdf)'
              metaData:
                source: consumer_upload
      x-suggested-document-types:
        - PROOF_OF_ADDRESS
        - OTHER
  /api/v1/consumers/{consumerId}/addresses/{addressId}/documents/list:
    post:
      summary: List Address Documents
      description: Returns a paginated, filtered list of documents for this address.
      tags:
        - Address - Consumer
      operationId: post_list_address_documents
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Address documents fetched successfully
                data:
                  - id: DOC-2025-000061
                    fileName: Utility Bill - 123 Main St
                    documentType: PROOF_OF_ADDRESS
                    entityType: ADDRESS
                    entityId: ADR-2024-000001
                    createdAt: '2025-08-20T10:00:00Z'
                pagination:
                  page: 1
                  pageSize: 25
                  hasNextPage: false
                  hasPreviousPage: false
                  totalPages: 1
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  pagination:
                    type: object
                    properties:
                      page:
                        type: integer
                      pageSize:
                        type: integer
                      hasNextPage:
                        type: boolean
                      hasPreviousPage:
                        type: boolean
                      totalPages:
                        type: integer
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        entityType:
                          type: string
                        entityId:
                          type: string
                        documentType:
                          $ref: '#/components/schemas/DocumentType'
                        fileName:
                          type: string
                        mimeType:
                          type: string
                        fileSizeBytes:
                          type: integer
                        metaData:
                          type: object
                          description: Custom key-value pairs (max 50 properties). This field is fully replaced on update — include all desired keys in each request. Omitted keys are removed.
                          maxProperties: 50
                          additionalProperties:
                            type: string
                        createdAt:
                          type: string
                          format: date-time
                        updatedAt:
                          type: string
                          format: date-time
        '401':
          description: Unauthorized
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: eda583cf-288d-4676-999e-8d34e67f72cb
        '400':
          description: Bad Request — validation error
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 5eb63549-a495-4bec-93bf-4622d91cf9db
        '404':
          description: Not Found
          content:
            application/json:
              example:
                status: FAILURE
                errors:
                - code: ERR-###
                  message: <error message>
                traceId: 63e297a6-5cf8-4bbf-9cc6-bc1b738a92aa
      parameters:
        - name: consumerId
          in: path
          required: true
          description: Consumer UUID
          schema:
            type: string
        - name: addressId
          in: path
          required: true
          description: Address UUID
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: string
                  description: Filter by documentType, status
                pagination:
                  type: object
                  description: Pagination options.
                  properties:
                    page:
                      type: integer
                      description: Page number (default 1).
                      default: 1
                    pageSize:
                      type: integer
                      description: Number of results per page (default 25, max 100).
                      default: 25
                      maximum: 100
                sorting:
                  type: object
                  description: Sorting options.
                  properties:
                    field:
                      type: string
                      description: The field to sort by (default 'createdAt').
                      default: createdAt
                    direction:
                      type: string
                      enum:
                        - asc
                        - desc
                      description: Sort direction (default 'desc').
                      default: desc
            example:
              pagination:
                page: 1
                pageSize: 50
              sort:
                field: createdAt
                direction: desc
  /api/v1/consumers/{consumerId}/bankAccounts:
    post:
      summary: Create Consumer Bank Account
      description: Add an external bank account to a consumer.
      tags:
        - Bank Account - Consumer
      operationId: post_create_consumer_bank_account
      security:
        - BearerAuth: []
      responses:
        '201':
          description: Successful response
          content:
            application/json:
              example:
                status: SUCCESS
                message: Consumer Bank Account created successfully
                data:
                  id: EBA-2024-0000001
                  externalReferenceId: EXT_REF_0001
                  bankName: JPMorgan Chase
                  achRoutingNumber: '021000021'
                  wireRoutingNumber: '021000021'
                  accountNumberLast4: '6789'
                  accountType: CHECKING
                  accountHolderName: Jane Doe
                  accountNickName: Primary Checking
                  statuses:
                    accountStatus: VERIFICATION_SUCCESS
                    ownershipStatus: VERIFICATION_SUCCESS
                    processingStatus: ACTIVE
                  metaData: {}
                  auditInfo:
                    created:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
                    updated:
                      at: '2025-08-15T14:30:00Z'
                      by:
                        id: usr-001
                        name: AdminUser
              schema:
                type: object
                properties:
                  status:
                    type: string
                    readOnly: true
                    enum:
                      - SUCCESS
                  message:
                    type: string
                  data:
                    type: object
[...]
